<div class="row">
    <div class="form-group col-md-2">
<label for="size_select">サイズ選択</label></div>
 <div class="form-group col-md-2">
<%= f.select :size, SizeStock.sizes_i18n.invert,{},placeholder: 0 %></div>
</div>
<div class="nested-fields">
    <%= f.number_field :stock %>
    <%= link_to_remove_association "remove size_stock", f %>
</div>