<div class="row">
    <div class="form-group col-md-2">
<label for="name">店舗名</label></div>
 <div class="form-group col-md-2">
<%= @store.name %></div>
    <div class="form-group col-md-2">
<label for="email">メールアドレス</label></div>
 <div class="form-group col-md-2">
<%= @store.email %></div>
<label for="address">住所</label></div>
 <div class="form-group col-md-2">
<%= @store.address %></div>

   <%= link_to "編集",edit_admin_store_path(@store) %>
