<div class = "container">

<table class ="table table-bordered">
  <thead class="table-secondary">
      <th>店舗一覧</th>
      <th></th>
    </thead>
  <today>
 <tr>
 <% @stores.each do |store| %>
<td> <%= store.name %></td>
<td><%= link_to "詳細ページ", store_store_path(store.id), class: "btn btn-success btn-sm" %></td>
 </tr>
<% end %>
  </today>
   </table>
   <%= link_to "自店舗を編集する", edit_store_store_path(current_store.id), class: "btn btn-success btn-sm" %>
</div>
